<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gzfgeh.briefnote" >

    <!--  Bmob
        Application ID: ff52ea8fbec04dfc826eef0ea661ea66
        REST API Key:   e5dd1414265f8b89729234287990e3c8
        Master Key:     31dadf8b89a9c7fec6dedaff77383917
        Access Key:     c6cbd116ce8f41e8fc068b731e7f518a
        Secret Key:     403b9e62b96e3b2d
    -->
    <!-- Bmob -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/RedTheme"
        android:name=".APP">
        <activity
            android:name=".ui.Activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.Activity.TextActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"> <!-- 不弹出键盘 -->
        </activity>

    </application>

</manifest>
